{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	 -->

	<title>ANKETA ROBOCODE</title>
	<style>
		input{
			width: 30%;
		}
	</style>
</head>
<body bgcolor="orange">
	<h1>Assalomu alaykum sizni ROBOCODE IT ACADEMYning web saytida ko'rganimdan xursandman savol javoblarda qatnashishni boshlash uchun boshlash tugmasini bosing</h1>
	<!-- <script type="text/javascript">
			function savol() {
			var ism=prompt("Salom birodar ismingiz va familiyangiz nima", "F.I.SH");
			var phone=prompt("telefon raqamingizni qoldiring", "+998");
			alert(phone+" raqamingizni tekshirib oling agar to'gri bolsa ok tugmasinni bosing"  );
			var shahar=prompt("Qaysi viloyatda yashaysiz", "istiqomat qiladigan viloyatingizni yozing");
			var savol = prompt("birinchi savol IT deganda nimani tushunasiz")
			var savolL = prompt(ism + "  yaxshi keyingi savolim kompyuetr qurilmalarini sanab bering", "kompyuter qurilmalari")
			alert( ism +' savol javoblarimizda davom etamiz,xozirda sizning javoblaringiz,birichi savolga-' +savol+ ' ,ikkinchi savolga '+savolL+ "  natijalari telefon orqali bog'lanib yetkazamiz marxamat keyingi savolimiz " );
			var savoll = prompt(ism + "  fayl degana nimani tushunasiz", "fayl bu?")
			var savolll = prompt(ism + "  papkachi?", "papka bu?")
			}
</script> -->
	<!-- <input type="button" value="BOSHLASH" onclick="savol()" /> -->
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">ismingizni yozing</span>
					  </div>
					  <input type="text" class="form-control" placeholder="F.I.SH">
					  <div class="input-group-append">
					  </div>
					</div>

				<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">telefon raqamingiz</span>
					  </div>
					  <input type="text" class="form-control" placeholder="+998999999999">
					  <div class="input-group-append">
					  </div>
					</div>

				</div>


			<div class="col-md-6">
				<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">tug'ilgan kun oy yil</span>
					  </div>
					  <input type="text" class="form-control" placeholder="kun/oy/yil">
					  <div class="input-group-append">
					  </div>
					</div>
				<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">ITning qaysi sohasiga qiziqasiz</span>
					  </div>
					  <input type="text" class="form-control" placeholder="Web dasturlash,robototexnika,grafik dizayn,robototexnika">
					  <div class="input-group-append">
					  </div>
					</div>
						<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">fayl nima </span>
					  </div>
					  <input type="text" class="form-control" placeholder="fayl bu-">
					  <div class="input-group-append">
					  </div>
					</div>
						<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">papka ?</span>
					  </div>
					  <input type="text" class="form-control" placeholder="papka bu">
					  <div class="input-group-append">
					  </div>
					</div>
						<div class="input-group">
					  <div class="input-group-prepend">
					    <span class="input-group-text">tug'ilgan kun oy yil</span>
					  </div>
					  <input type="text" class="form-control" placeholder="kun/oy/yil">
					  <div class="input-group-append">
					  </div>
					</div>
					
				

			</div>
				
			</div>

		</div>
	<div class="container">

		<div class="row">
			<div class="col-md-3">
				<!-- <input type="button" value="boshlash"  onclick="prompt('assalomu alaykum  ismingiz xamda familiyangizni yozing')" style="width:200px; background-color: yellow; "> -->
			</div>
			<div class="col-md-3">

					
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>
	</div>
	
</body>
</html>